# Python
__pycache__/
*.py[cod]
*.so
venv/
env/
.venv/
ENV/
venv312/

# Node
node_modules/
dist/
build/
.vite/

# Database
*.db
*.sqlite
*.sqlite3

# Env
.env
.env.local

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db